*.ko
*.dat
*.pid
*.o
*.log
*.trs
*.a

openflow/#*#
*.a
*.d
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
*.o
*.pyc
*.so
*~
openflow/.#*
openflow/.*.cmd
openflow/.deps
openflow/.libs
openflow/.tmp_versions
openflow/Makefile
openflow/Makefile.in
openflow/aclocal.m4
openflow/autom4te.cache
openflow/build-arch-stamp
openflow/build-aux
openflow/build-indep-stamp
openflow/compile
openflow/config.guess
openflow/config.h
openflow/config.h.in
openflow/config.log
openflow/config.status
openflow/config.sub
openflow/configure
openflow/configure-stamp
openflow/depcomp
openflow/install-sh
openflow/missing
openflow/stamp-h1
openflow/Module.symvers
openflow/TAGS
openflow/cscope.*
openflow/ext.m4
openflow/ext.mk
openflow/tags
